body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
    background-image: url('https://ddudley18.github.io/assets/Background.jpg');
    overflow-x: hidden;
}

.logo {
    height: 50px;
    margin-left: 30px;
}

#rightExp h3 {
    margin-top: 2em;
    font-size: 1.25em;
}

.mainNav {
    border-bottom: 2px solid black;
}

.mainNavLinks {
    font-weight: bold;
    text-decoration: black;
    display: flex;
    justify-content: space-around;
}

.nav-link:hover {
    text-decoration: black underline;
}

.socialmedia {
    margin-top: 0.4em;
}

.socialmedia a {
    display: inline;
    text-decoration: none;
    margin-left: 15px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-size: 1.5em;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}


.intro {
    color: white;
    display: flex;
    justify-content: center;
    opacity: 0;
    margin-right: 440px;
}

.intro .col-lg-6 {
    background-color: black;
    height: 800px;
}

.intro h1 {
    font-weight: 500;
    font-size: 5em;
    text-align: center;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.intro p {
    font-weight: 400;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.intro .bi-arrow-down {
    display: block;
    margin: 6em auto;
}

.panel {
    background: black;
    border: 5px solid white;
}

.expWrapper {
    width: 250px;
    height: 4em;
    color: white;
    border: 2px solid white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eduWrapper {
    width: 250px;
    height: 4em;
    color: white;
    border: 2px solid white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactWrapper {
    width: 250px;
    height: 4em;
    color: white;
    border: 2px solid white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftExp {
    display: flex;
    justify-content: center;
    align-items: center;
}

#eduTitle {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactTitle {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eduCard {
    display: flex;
    justify-content: center;
}

#rightExp {
    background: rgb(248, 248, 248);
}

#eduInfo {
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
}

#contactInfo {
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
}

.card {
    margin: 2em;
    box-shadow: 10px 5px 5px lightblue;
}

.exp {
    height: 900px;
    overflow-y:scroll;
}

.frontEnd {
    margin-top: 50px;
}

.evenExp {
    display: flex;
    justify-content: end;
}

.loadIntro {
    opacity: 1;
    margin-right: 0;
    transition: all 2s;
}

.nav-link {
    opacity: 0;
}

.loadNav {
    opacity: 1;
    transition: opacity 4s;
}